## OPENROUTER
OPENROUTER_KEY = ""

#INTERNAL SETTINGS
API_KEY = ""

#TELEGRAM BOT SETTINGS
ENABLE_TELEGRAM_BOT = True
TELEGRAM_API_KEY = ""

#WHATSAPP BOT SETTINGS
ENABLE_WHATSAPP_BOT = True
TWILIO_ACCOUNT_SID = ""
TWILIO_AUTH_TOKEN = ""
TWILIO_WHATSAPP_NUMBER = ""
WHATSAPP_BOT_PORT = 5000